/*
*reset
 */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
input,
a,
img,
p,
label,
select,
button,
textarea input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 1000px;
  height: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  background: #fff;
  font: 12px/1.6 helvetica, "微软雅黑", "microsoft yahei", Verdana, Lucida,
    arial, sans-serif, "黑体";
  box-sizing: border-box;
  color: #4f5c6a;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

//  li {
//    display: inline-block;
//  }

a {
  color: #103e97;
  text-decoration: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #a8a8ad;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 12px;
  color: #a8a8ad;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 12px;
  color: #a8a8ad;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #a8a8ad;
}

a,
input,
textarea {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}

select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: 1px solid #ebebeb;
  /*很关键：将默认的select选择框样式清除*/
  //  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("./assets/img/arrow.png") no-repeat center right;
  background-size: 16px;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
  display: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #009afc;
  outline: none;
}

button:hover,
button:focus,
input:hover,
input:focus,
select:hover,
select:focus {
  outline: none;
}

body {
  height: 100%;
}

#app {
  width: 100%;
  height: 789px;
  position: relative;
}
.el-button {
  width: 100px;
}
